<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

	<test name="Test">
		<method-selectors>
			<method-selector>
				<script language="beanshell">
                	<![CDATA[String myTestGroup = System.getProperty("group");
                    	groups.containsKey(myTestGroup);]]>
				</script>
			</method-selector>
		</method-selectors>
		<packages>
			<package name="org.treebo.*" />
		</packages>
	</test> <!-- Test -->
</suite> <!-- Suite -->